body {
  background-color : #F7F7F2;
}

.App {
  text-align : center;
}

.main-body {
  margin-top : 50px;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight : 200;
}

.logo {
  height : 130px;
}

//Card Styles
.card-group {
  padding-left  : 10%;
  padding-right : 10%;
}

.card {
  margin-top : 20px;
  .card-body {
    padding-top : 5px;
  }
  .card-title {
    font-size       : 24px;
    width           : 100%;
    line-break      : auto;
    text-align      : left;
    font-weight     : 200;
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    height          : 70px;
    border-bottom   : 1px solid #eee;
  }
  .text-muted {
    text-transform : capitalize;
    text-align     : left;
  }
  .main-temp {
    font-size : 50px;
  }
}

@media(max-width:576px) {
  .card-group {
    padding-left  : 10%;
    padding-right : 10%;
  }
}


//Dropdown and Input

.menu {
  z-index       : 99;
  position      : absolute;
  background    : white;
  width         : 76%;
  text-align    : center;
  left          : 12%;
  border        : 1px solid #d3d3d3;
  border-radius : 12px;
}

#state-autocomplete {
  width         : 80%;
  border-radius : 15px;
  border        : 1px solid #d3d3d3;
  box-shadow    : 0;
  padding       : 4px 15px;
  font-weight   : 200;
  background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left     no-repeat;

}

#state-autocomplete:focus {
  outline : -webkit-focus-ring-color none;
}

.item {
  font-size     : 20px;
  border-radius : 12px;
  font-weight   : 300;
}

.item-highlighted {
  // color: white;
  background-color : #eeeeee;
}
//Default text styles

.default-text {
  margin-top : 50px;
  text-align : center;
  width      : 100%;
  
  img {
    height : 80px;
  }
  
  h1 {
    color     : #5EC2A2;
    font-size : 30px;
  }
}


